 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box ;
     list-style: none;
     text-decoration: none;
     font-family: 'Raleway', sans-serif;
     font-weight: 700;
     color:  #464646;;
}
h2{
     font-size: 2rem;
}
:root{
     --azulcalro:#EAF2FD;
     --border-button:#2A7AE4;
}
body{
     background-color: #f5f5f5;
}
header{
     width: min(1136px, 95%);
     margin: 0 auto;
     display: flex;
     padding: 20px 0;
     justify-content: space-between;
     align-items: center;
}
.nav li{
     display: inline-block; 
}
.nav ul li a{
     margin-left: 20px;
     font-weight: 500;
}
.container{
     margin: 50px auto;
     width: min(1136px, 95%);
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.BlocoEsquerdo p{
     padding: 20px 0;
     font-weight: 400;
}
.listaRedesSociais li{
     display: inline-block;
     margin-right: 20px;
}
.listaRedesSociais li a{
     font-weight:500 ;
}
.blocoImagem img{
     width: 250px;
     height: 250px;
     border-radius: 100%;
}

.sobreMim{
     width: 100%;
     background-color: var(--azulcalro);
}
.SobremimTex{
     margin: 0 auto;
     width: min(1136px, 95%);
     height: 100%;
}
.SobremimTex p{
     padding: 20px 0;
     font-weight: 400;
}
.SobremimTex div{
     width: 70%;
     height: 100%;
     padding: 50px 0;
}
/* escritas antes dos cards */
.Skills, .hobbies, .experiencia{
     text-align: center;
     padding: 15px 0 30px 0;
}
.hobbies{
     padding: 50px 0 30px 0;
}
/* ------------------ */
.cardsSkills, .cardsHobbies , .blocoFormacao {
     display: flex;
     width: min(1136px, 95%);
     margin: 0 auto;
     gap: 16px;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;

}
.cardsSkills p , .cardsHobbies p{
     font-weight: 700;
     padding: 5px 0 0 0; 
}
.cardsSkills div, .cardsHobbies div{
     background-color: white;
     width: 176px;
     height: 174px;
     display: flex;
     padding: 16px;
     align-items: flex-start;
     flex-direction: column;
     justify-content: flex-end;
}
/* formaçao academica */
section{
     width: 100%;
     background-color: var(--azulcalro) ;
     margin-top: 50px;
     padding: 20px;
}


.cardFormacao{
     width: 368px;
     height: 286px;
     background-color: var(--azulcalro);
}
.cardFormacao h4{
     padding: 5px;
}
.imagem{
     width: 100%;
     height: 90%;
     align-items: center;
     justify-content: center;
     display: flex;
     background-color: white;
}
/* Experiencia Profissional blocos */
.blocoExperiencia{
     width: min(1136px, 95%);
     margin: 10px auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;
     vertical-align: middle;
     gap: 16px;
}
.experienciaEsquerdo{
     display: flex;
     align-items: center;
}
.experienciaEsquerdo img{
width: 100%;
opacity: 0.95;
filter: drop-shadow(2px 4px 6px rgb(0, 0, 0));
}
/* Botoes  */
.btn1, .btn2 {
     padding: 16px;
     border-color:  var(--border-button);
     border-width: 1px;
}
.btn1 a{
     color:var(--border-button);
     font-size: 1rem;
     font-weight: 400;
     
}
.btn2{
     background-color: var(--border-button);
     border-width: 1px;
     border-width: 1px;
}
.btn2 a{
     color: white;
     font-size: 1rem;
     font-weight: 400;
     
}
.btn3{
     color: var(--azulcalro);
     width: 165px;
     padding: 15px;
     background-color: var(--border-button);
     border-width: 1px;
}
/* ------------------------------------------------ */
/* bloco com a imagem na direita */
.blocoExperiencia2{
     width: min(1136px, 95%);
     margin: 30px auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;
     vertical-align: middle;
     flex-direction: row-reverse;
     gap: 16px;
}
/*  ------------------------------------- */


/* contato bloco */

.blocoContato{
     width: 100%;
     height: 788px;
     background-color: var(--azulcalro);
     display: flex;
}
.blocoCentral{
     display: flex;
     width: min(1136px, 95%);
     margin: 0 auto;
     flex-wrap: wrap;
     height: 788px;
     gap: 16px;
     align-items: center;
}


.BlocoEsquerdo img{
     width: 464px;
     height: 593px;
     width:100%;
}
.blocoDireito {
     display: flex;
     width: 57%;
     display: inline-flex;
     flex-direction: column;
     gap: 19px;
}
.blocoDireito p {
     font-weight: 500;
}
.blocoDireito input{
     width: 100%;
     height: 56px;
     border-radius: 4px;
     border: none;
}
input::placeholder{
     padding: 10px;
     font-weight: 400;
}
footer{
     width: 100%;
     padding: 32px;
     text-align: center;
     background-color: white;

}
footer p{
     font-weight: 400;
}
/* media para mobile */
@media only screen and (max-width: 408px)  {
     #telefone{
          display: none;
     }
     .nav ul li a {
          font-weight: 500;
     }
     .container{
          margin: 0px auto;
          width: min(1136px, 95%);
          display: flex;
          flex-direction: column;
          align-items: flex-start;
     }
     .blocoImagem{
          order: -1;
     }
     #titulo, h2{
          font-size: 1.375rem;
     }
     #titulo{
          padding: 10px 0 0 0;
     }
     .blocoImagem img{
          width: 98px;
          height: 98px;
          border-radius: 100%;
     }
     .SobremimTex div{
          width: 100%;
          padding: 18px 0;
     }
     .blocoDireito{
          display: flex;
          width: 100%;
          display: inline-flex;
          flex-direction: column;
          gap: 19px;
     }
     .none {
          display: none;
     }
     .cardsSkills div, .cardsHobbies div{
          background-color: white;
          width: 156px;
          height: 118px;
          display: flex;
          padding: 16px;
          align-items: flex-start;
          flex-direction: column;
          justify-content: flex-end;
     }
     .BlocoEsquerdo p, .listaRedesSociais li a{
          font-size: 0.875rem;
          font-weight: 400;
     }
     .listaRedesSociais li{
          margin-right: 10px;
          padding: 5px 0 15px 0 ; 
     }
     .nav li a{
          font-size: 13px;
          font-weight: 400;
     }
     header{
          display: flex;
          align-items: center;
          justify-content: space-between;
     }
     .e-mailHeader{
          font-size: 14px;
          font-weight: 400;
     }
}

/* media para tablet */

@media only screen and (min-width: 409px) and (max-width: 768px) {
     #telefone{
          display: none;
     }
     .e-mailHeader,.nav ul li{
          font-size: 16px;
          font-weight: 700;
     }
     .blocoImagem img{
          width: 146px;
          height: 146px;
          border-radius: 100%;
     }
     .SobremimTex div{
          width: 100%;
     }
     .blocoDireito{
          display: flex;
          width: 100%;
          display: inline-flex;
          flex-direction: column;
          gap: 19px;
     }
     .none {
          display: none;
     }
     .cardsSkills div, .cardsHobbies div{
          background-color: white;
          width: 224px;
          height: 118px;
          display: flex;
          padding: 16px;
          align-items: flex-start;
          flex-direction: column;
          justify-content: flex-end;
     }
     .cardFormacao{
          width: 224px;
          height: 118px;
          background-color: var(--azulcalro);
     }
     .imagem img{
          width: 70px;
          height: 70px;
          align-items: center;
          justify-content: center;
          display: flex;
          background-color: white;
     }
     .blocoFormacao{
          gap: 7px;
     }
}
/* .cardsSkills div, .cardsHobbies div{
     animation-name: teste;
     animation-duration: 5s;
     animation-delay: 2s;
}
@keyframes teste {
     0%{
          transform: translateY(300px);
     }
     100%{
          transform: translateY(0px);
     }

} */

